@{
    ViewData["Title"] = "About Us ";
}
<h1>@ViewData["Title"]</h1>

<p>In 2013, we began experimenting with natural substances in our home kitchen and transformed it into a skincare laboratory. 
    We provided our friends and family with goods to evaluate using natural ingredients, natural fragrances, and natural packaging throughout our testing period before we formally launched our business. The goods were a success, 
    and we recognized that to build a successful brand, we needed critical input from our consumers to ensure that we weren't producing something that we liked, but that also appealed to prospective buyers. </p>
<p>In 2014, we secured our first wholesale account with Whole Foods Market (Can you believe it! ), and just a few months into our new business, we met with one of the biggest organic marketplaces, who raved about our goods and ingredients. 
    Within three months, we were on the shelf in Michigan locations!</p>
<p>Simply said, Soapure is an essential handmade soap produced with natural ingredients by real people.
    All of our goods are currently manufactured in a 4,000 square foot facility in Windsor. 
    Our mission is to deliver quality soap goods created by genuine people who employ real people and who really understand how to design products that assist moisturize and cure our bodies' biggest organ—Our Skin.</p>