@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Welcome to Soupure </h1>
    <h2>All we have organic handmade soap</h2>
    <p>
        Due to its chemistry, bar soaps will never include more than 95% organic ingredients. Soap and skin care products made from organic ingredients are among the most misrepresented organic goods.
        This relates to formulation problems, labelling regulations, and a misunderstanding of the standards. 
        All bar soaps and the majority of skin care products fall short of the 95% organic standard. To make bar soaps, sodium hydroxide (NaOH, or lye) is required. Sodium hydroxide is included on the permitted list of non-organic components that may be used in the manufacture of organic goods, accounting for about 10-15% of the ingredients by weight (not including water or salt and depending on the recipe).
        Even if every other ingredient in a bar soap was certified organic, the soap would never contain more than 90% organic material, since this is the maximum amount of organic material allowed in a bar soap.
    </p>
    <p>
        Manufacturers sometimes "cheat" a little to get greater organic content levels. Consider lotion. 
        A normal lotion has water as one of its components, which has no effect on the organic content level. 
        However, some producers say their water is "organic" by steeping organic herbs in it beforehand, thus classifying it as an organic ingredient and increasing the organic content of their goods. 
        It is critical, as usual, to comprehend the standards and to read the labels.
    </p>
    <p>
        Additionally, it is critical to check whether or not a company's goods are certified organic.
        Numerous businesses claim to utilise organic materials or to label their goods as organic;
        however, only a handful have received official certification, which serves as the sole evidence of the claim. 
        A requirement of the certification procedure is that an audit trail be established and that every organic product sold can be traced back to its organic components.

        <b>At Soapure,</b> we ensure that all of our bar soaps include a minimum of 85 percent organic ingredients.
    </p>
   
</div>
